numpy<2.0.0
streamlit
pandas>=1.5.3
scikit-learn>=1.2.2
scikit-image>=0.19.2
joblib
yfinance
catboost
ultralytics==8.1.1
Pillow
torch
opencv-python-headless
requests==2.28.1
streamlit-drawable-canvas
tensorflow-cpu>=2.18.0
keras
sympy
matplotlib


