streamlit-drawable-canvas
pandas==1.5.3
scikit-learn==1.2.2
protobuf==3.19.4 
tensorflow-cpu
scikit-image
joblib
yfinance
catboost
ultralytics
Pillow 
torch==1.8
numpy==1.21.6
opencv_python-headless
requests==2.28.1
streamlit==1.10.0
pyvirtualdisplay==2.2
PyOpenGL==3.1.5
